* {
    box-sizing: border-box;
}

header {
padding: 50px;
text-align: center;
background: rgb(247, 227, 10);
color: #087e3df3;
font-size: 60px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background: radial-gradient(circle, rgb(59, 168, 208) 0%, #26c76ff3 100%);
    border-radius: 10px;
    color: rgb(247, 227, 10);
    cursor: pointer;
    font-size: 30px;
    line-height: 20px;
    max-width: 300px;
    padding: 20px 30px;
    text-align: center;
    margin-top: 5px;   

}
p {
    font-size: 20px;
}